.contact{
    background-color:rgb(121, 121, 121);
}
.col-sm-6 img{
    border-radius: 50%;
    height: 100%;
}
.col-sm-6 h3{
    color:white;
}
/* .col-sm-6{
    margin-top: 100px;
} */
.contact{
    text-align: center;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
h2{
  text-align:center;
}
/* .img{
    position: relative;
    
    top: 5%;
} */
.fb i,.fa-instagram-square{
    color: rgb(16, 16, 241);
}
.fb{
    text-align: center;
    margin-top: 30px;
}
.img1{
    position: relative;
    /* left: 5%; */
    width: 35px;
    border-radius: 50%;
}
.img2 i{
    margin-top: 20px;
}
.col-lg-6 .fab{
    font-size: 100%;
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
}