.home{
    background-color:rgb(121, 121, 121);
    color: white;
}
.content{
    margin-left: 220px;
    margin-bottom: 20px;
    text-align: center;
}
.glyphicon{
    margin-bottom: 50px;
    background-color: rgb(90, 89, 89);
}
.main-wrapper p{
    font-size: auto;
}
/* .cd-headline{
    margin-top: 20px;

} */
.col-sm-6 img{
    border-radius: 50%;
    height: 50%;
    width: 150px;
}
.col-sm-6 h3{
    color:white;
}
.col-sm-6{
    margin-top: 10px;
}
.main-wrapper{
    font-size: 180%;
}
h1{
    font-size: 700%;
    color: rgb(0, 0, 0);
    text-shadow:5px 5px 5px rgb(59, 59, 59);
}
