.home{
    background-color:aqua;
}
.content{
    margin-left: 220px;
    margin-bottom: 20px;
    text-align: center;
}
.glyphicon{
    margin-bottom: 50px;
    background-color: rgb(197, 13, 13);
}
.carousel-caption h4,p{
    color: red;
}
.main-wrapper p{
    font-size: auto;
}
/* .cd-headline{
    margin-top: 20px;

} */
.col-sm-6 img{
    border-radius: 50%;
    height: 50%;
    width: 150px;
}
.col-sm-6 h3{
    color:white;
}
.col-sm-6{
    margin-top: 10px;
}
