.menu-item-2250 {
    background-color: #252a30;
}

.col-sm-6 img {
    border-radius: 50%;
    height: 100%;
}

.col-sm-6 h3 {
    color: #44566C;
}

.col-sm-6 {
    margin-top: 100px;
}

.target {
    text-align: center;
}

.btn {
    color: #44566C;
}