.work{
    background-color:rgb(121, 121, 121);
}
.col-sm-6 img{
    border-radius: 50%;
    height: 100%;
}
.col-sm-6 h3{
    color:white;
}
.col-sm-6{
    margin-top: 100px;
}
.work{
    text-align: center;
}
