.container {
    background-color: #ffffff;
    border: 2px solid;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 2.5rem 3.125rem rgba(134, 151, 168, 0.1);
    max-width: 64.375rem;
    height: 100vh;
}

.case-item__icon {
    margin-bottom: 1rem;
}

.case-item {
    border: 3px solid #F5F8F9;
    border-radius: 30px;
    padding: 1.5rem;
    position: relative;
    text-align: center;
}

.col-md-4 {
    margin-top: 1rem;
}

.case-item__caption {
    position: absolute;
    z-index: 1;
}

.work {
    background-color: rgb(121, 121, 121);
    color: white;
}

.col-sm-6 img {
    border-radius: 50%;
}

.col-sm-6 {
    margin-top: 100px;
}

.target {
    text-align: center;
}

.testimonials img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}